### We approaching a full week!  Today is day 6.  
---
Today is simple.  Recreate the results we got yesterday, top 5 directors, using the pivot_table [method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.pivot_table.html) in pandas.

In [1]:
import pandas as pd
import numpy as np

---
We will use the same data we used yesterday.

In [2]:
url = "https://raw.githubusercontent.com/pybites/challenges/solutions/13/movie_metadata.csv"

---
Reading a csv with pandas is super easy!

In [3]:
movies = pd.read_csv(url)

---
Now let's look at the first 5 rows.  If we were doing some deep analytical work, we would want to investigate the missing values (NaN).

In [4]:
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

---  
pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')

values = what we will use to aggregate  
index = what we want to "roll up"

>Create a spreadsheet-style pivot table as a DataFrame. The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame

In [5]:
directorPivot = pd.pivot_table(movies, values='movie_title', index='director_name', aggfunc=np.count_nonzero)

---
Now we simply use pandas [nlargest](https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.nlargest.html) function and we are all set!

>DataFrame.nlargest(n, columns, keep='first')

In [7]:
directorPivot.nlargest(5, directorPivot)

                  movie_title
director_name
Steven Spielberg           26
Woody Allen                22
Clint Eastwood             20
Martin Scorsese            20
Ridley Scott               17